:root {
    --primary-color: #002C9E;
    --primary-color-light: #0048FF;
    --secondary-color: #1f914f;
    --danger-color: #e74c3c;
    --background-color: #f5f6fa;
    --text-color: #34495e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
}

.button-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

button:disabled:hover + .tooltip {
    visibility: visible;
    opacity: 1;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    margin-bottom: 20px;
    color: var(--primary-color);
}

form {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
}

.form-group {
    flex: 1;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: var(--primary-color-light);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

button:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 20px;
}

.result-item {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
}
.result-item h2 {
    color: #000;
    font-size: 1em;
}

.result-item.work-hours {
    grid-column: 1 / -1;
    background-color: #ecf0f1;
}

.result-item.work-hours h2 {
    color: var(--primary-color);
    font-size: 1.5em;
}

.result-item.work-hours span {
    font-size: 1.5em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #e6eeff; /* Light blue background following the primary color theme */
    color: var(--primary-color); /* Use primary color for text */
    font-weight: bold;
}

.remove-btn {
    background-color: var(--danger-color);
    padding: 5px 10px;
}

.reset-btn {
    background-color: var(--secondary-color);
    margin-top: 10px;
}

#calculate-btn {
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    form {
        flex-direction: column;
    }

    input[type="time"] {
        font-size: 16px;
    }

    .results {
        grid-template-columns: 1fr;
    }

    table {
        font-size: 14px;
    }
}